*{
    margin: 0%;
    padding: 0%; 
    box-sizing: border-box;
}

.gallery{
	padding: 80px ;
}
img{
	max-width: 100%;
}
.gallery img{
	background: rgb(46, 43, 43);
	padding: 15px;
	width: 100%;
	box-shadow: 0px 0px 15px rgba(248,165,2,255);
	cursor: pointer;
    transition: all 300ms;
}
.gallery img:hover{
    transform: scale(1.15);
}
/****************************************************/
h1{
    
    color:rgba(248,165,2,255);

}
     
/*animacion navbar************/

   


  .navbar .navbar-nav .nav-link:hover {
	color:rgba(248,165,2,255);
  }
  .navbar .navbar-nav .nav-item {
	position: relative;
  }
  .navbar .navbar-nav .nav-item::after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgba(248,165,2,255);
	width: 0%;
	content: "";
	height: 4px;
	transition: all 0.5s;
  }
  
  .navbar .navbar-nav .nav-item:hover::after {
	width: 70%;
  }

/**********************************/ 

.linkVideo:hover {
	color:rgba(248,165,2,255);
  }
     



footer{
text-align: center;
position:fixed;
bottom: 0;
margin-top: 10;
padding:1px 0px 0px 0px;

}

